<form>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Id" id="id" #id>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="name" id="name" #name>
  </div>
  <div class="form-group">
    <input type="text" class="form-control" placeholder="price" id="price" #price>
  </div>
  <button type="button" class="btn btn-primary" (click)="onAddProduct(id,name,price)">Add product</button>
  <button type="button" class="btn btn-primary" (click)="onDeleteProduct(id)">Add product</button>
</form>

<div class="row">
  <div *ngFor="let product of products; index as i">
    <div class="col-3">{{i+1}}</div>
    <div class="col-3">{{product.id}}</div>
    <div class="col-3">{{product.name}}</div>
    <div class="col-3">{{product.price}}</div>
  </div>
</div>
