<app-navbar></app-navbar>
<div class="container">
  <span layout="row" layout-margin>
    <button flex mat-fab color="primary" (click)="formarray()">Primary</button>
  </span>
  <span  class="ms-3" layout="row" layout-margin>
    <button  flex mat-fab color="secondary" id="scrollintoviewId" (click)="scrollintoview()">Scrollintoview</button>
  </span>
  <span  class="ms-3" layout="row" layout-margin>
    <button  flex mat-fab color="secondary" id="bootstrapMediaQueriesId" (click)="bootstrapMediaQueries()">bootstrap media queries</button>
  </span>
</div>
