<div class="form-group">
  <input type="text" class="form-control search-field" placeholder="search here" [(ngModel)]="searchText">
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Address</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of employeList | searchFilter: searchText">
      <td>{{item.firstName}}</td>
      <td>{{item.lastName}}</td>
      <td>{{item.address}}</td>
    </tr>
  </tbody>
</table>